.codetasty/
**/.DS_store/
**/*.MOV
**/*.mov
**/*.PSD
**/*.psd
**/*.MKV
**/*.mkv
**/*.MP4
**/*.mp4
**/*.WAV
**/*.wav
**/*.WMV
**/*.wmv
**/*.MP3
**/*.mp3
**/*.avi
**/*.m4v
**/*.JPG
**/*.jpg
**/*.jpeg
**/*.JPEG
**/*.png
**/*.PNG
**/*.gif
**/*.GIF
**/*.pdf
**/*.PDF
**/*.doc
**/*.DOC
**/*.docx
**/*.DOCX
**/*.XLS
**/*.xls
**/*.AI
**/*.ai
**/*.BMP
**/*.bmp
**/*.DLL
**/*.dll
**/*.NY
**/*.ny
**/*.EXE
**/*.exe
**/*.PUB
**/*.pub
**/*.FLV
**/*.flv
**/*.FLA
**/*.fla
**/*.xlsx
**/*.XLSX
**/*.PPT
**/*.ppt
**/*.PPTX
**/*.pptx
**/*.AIR
**/*.air
**/*.zip
**/*.rar
**/*.7z
**/*.tar
**/*.LCK
